<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper接口名对应-->
<mapper namespace="com.csz.mybatisResultMap.mapper.DeptMapper">

<!--  List<Dept> getAllDeptList()  -->
    <select id="getAllDeptList" resultType="com.csz.mybatisResultMap.pojo.Dept">
        select * from t_dept;
    </select>

<!-- Dept SubStepTwoGetEmpAndDeptById(@Param("deptId") Integer deptId) -->
    <select id="SubStepTwoGetEmpAndDeptById" resultType="com.csz.mybatisResultMap.pojo.Dept">
        select * from t_dept where dept_id = #{deptId}
    </select>
</mapper>